<div class="container">
    <div>
      <!--We could go like this to display everything but thats just bad practice -->
      {{ items[0].assign2TextDef }}

      <!-- above is how we grab one thing from the array we made inside of the component.ts -->

      <!-- below is how we can use a loop -->
      <div *ngFor="let item of items">
         {{item.assign2TextDef }}
    </div>

<!-- below is another directive -->
    <div *ngFor="let item of items"> 
        <div class="form-check">
            <label class="form-check-label">
                <input class="checkbox" type="checkbox"> 
                {{item.assign2Bool}}
            </label>
        </div>
    </div>





    </div>
  </div>