<p>content-list-item works!</p>
<!-- updated below to use isodd to determine if the spot in the arrray is odd to aplly proper class name for css -->
<div [ngClass]="{'odd-item': isOdd, 'even-item': !isOdd}">
    <h2>{{ contentItem?.title }}</h2>
    <img [src]="contentItem?.imgSrc" alt="{{ contentItem?.title }}">
    <p>{{ contentItem?.description }}</p>
    <p>Author: {{ contentItem?.author }}</p>
    <div class="content-item">
        <strong>Tags:</strong>
        <ul>
            <li *ngFor="let tag of contentItem?.tags">{{ tag }}</li>
        </ul>
    </div>
</div>


